# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Martin\Downloads\DrinkingFactory-main\DrinkingFactory-main\fr.univcotedazur.polytech.si4.fsm.2020.project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
